@import 'bootstrap/dist/css/bootstrap.min.css';






/* about us page css start */
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about_area .about_inner .col-lg-6 {
  vertical-align: middle;
  align-self: center; }
.about_area .about_inner .about_left_text h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #c6b069;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.2px;
  margin-bottom: 20px; }
.about_area .about_inner .about_left_text h3 {
  font-size: 36px;
  line-height: 45px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 25px; }
.about_area .about_inner .about_left_text h5 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #222222;
  margin-bottom: 10px; }
.about_area .about_inner .about_left_text p {
  margin-bottom: 0px; }
.about_area .about_inner .about_left_text .main_btn {
  margin-top: 40px; }

  .feature_inner {
    margin-bottom: -30px; }
  
  .feature_item {
    background: #f9f9ff;
    border-radius: 10px;
    padding: 40px 60px 40px 40px;
    margin-bottom: 30px;
    transition: all 300ms linear 0s; }
    .feature_item h4 {
      font-size: 18px;
      color: #222222;
      margin-bottom: 20px;
      text-transform: uppercase;
      transition: all 300ms linear 0s;
      position: relative;
      padding-left: 35px; }
      .feature_item h4 i {
        font-size: 24px;
        padding-right: 15px;
        font-weight: 600;
        position: absolute;
        left: 0px;
        top: 40%;
        transform: translateY(-50%); }
    .feature_item p {
      margin-bottom: 0px; }
    .feature_item:hover {
      background: #fff;
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); }
      .feature_item:hover h4 {
        color: #faba00; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 430px;
}


.banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 430px;
  background: #000;
  z-index: 1;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.banner_area .banner_inner .overlay {
  background: url(/public/img/carousel-1.jpg) no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
  opacity: .40;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.banner_area .banner_inner .banner_content {
  margin-top: 70px;
}

.text-center {
  text-align: center !important;
}

.banner_area .banner_inner .banner_content h2 {
  color: #fff;
  font-size: 48px;
  font-family: "Heebo", sans-serif;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
}


.banner_area .banner_inner .banner_content .page_link a {
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  /* margin-right: 32px; */
  position: relative;
}

.about_area .about_inner .about_left_text .main_btn {
  margin-top: 40px;
}
.main_btn {
  display: inline-block;
  background: #faba00;
  /* padding: 0px 35px; */
  color: #fff;
  font-family: "Heebo", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 38px;
  border: 1px solid #faba00;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  transition: all 300ms linear 0s;
  text-transform: uppercase;
}


.main_title {
  text-align: center;
  margin-bottom: 75px;
}

.main_title h2 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  color: #222222;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}


.main_title p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #777777;
  margin-bottom: 0px;
  max-width: 740px;
  margin: auto;
}

.feature_inner {
  margin-bottom: -30px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.clients_logo_area {
  background: #f9f9ff;
}

.owl-carousel {
  width: 100%;
  z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* -webkit-transform: translate3d(0,0,0); */
}

.owl-carousel .owl-stage {
  position: relative;
  /* -ms-touch-action: pan-Y; */
  /* -moz-backface-visibility: hidden; */
}


.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  /* -webkit-backface-visibility: hidden; */
  /* -webkit-touch-callout: none; */
}



/* product section css */

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/

.card__container p{
  color: var(--dark-color);
}



/*=============== CARD ===============*/

.product-slider{
  margin-top: 2.5rem;
}

.product-brand-heading h2{
  font-weight: 700;
  margin: 1.4rem;
  
}

.product-category-heading h3{
  font-weight: 600;
  margin-left: 1rem;
}


.card__content {

  border-radius: 1.25rem;
  overflow: hidden;
 
}
 
.card__content  .card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all .6s ease;
  padding: 15px 5px;

  >h5{
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
  }

  >button{
    border-radius: 8px;
    background: white;
    border: 1px solid var(--theme-color);
    padding: 6px 1rem;
    transition: all .6s ease;
    color: var(--theme-color);
  }
}
.card__content  .card:hover{




  >button{
    border-radius: 8px;
    background: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 6px 1rem;
    color: white;

  }
}

.product-picture {
  width: 200px;
  display: block;
  margin: 0 auto;
  height: 200px;
  >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}




/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 500px) {
  .card__data {
    padding: 1rem;
  }
  .banner_area .banner_inner .banner_content h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }


 
  
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1400px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}





.card-img-top {
  height: 300px; /* Adjust height as needed */
  object-fit: cover;
}
.card-body .card-title {
  font-size: 1.25rem; /* Smaller title text */
}
.card-body .card-text {
  font-size: 0.875rem; /* Smaller body text */
}
.list-group-item {
  padding-top: 0.25rem; /* Adjust top padding */
  padding-bottom: 0.25rem; /* Adjust bottom padding */
}