
@import 'bootstrap/dist/css/bootstrap.min.css';


.banner_area {
    position: relative;
    z-index: 1;
    min-height: 430px;
  }


  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 430px;
    background: #000;
    z-index: 1;
  }
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .banner_area .banner_inner .overlay {
    background: url(/public/img/carousel-1.jpg) no-repeat scroll center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 125%;
    bottom: 0;
    z-index: -1;
    opacity: .40;
  }

  *, ::after, ::before {
    box-sizing: border-box;
  }

  .banner_area .banner_inner .banner_content {
    margin-top: 70px;
  }
  .text-center {
    text-align: center !important;
  }
